// ====================================================================
// Colour scheme - Delhi
// ====================================================================

text_color = #333
background_color = #fefdfb

accent_primary_color = #098843
accent_secondary_color = #B53805
accent_tertiary_color = #FC0000

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9