// ====================================================================
// Colour scheme - Inky Rain
// ====================================================================

text_color = #333
background_color = #fefdfb

accent_primary_color = #4d8bb5
accent_secondary_color = #9A1100
accent_tertiary_color = lighten(accent_secondary_color, 50%)

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9