// ====================================================================
// Colour scheme - Middle Earth
// ====================================================================

text_color = #333
background_color = #fff

accent_primary_color = #3F9BBD/*5D7A85*/
accent_secondary_color = #D3AB1D//#c1d4e3
accent_tertiary_color = #6DA546

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9