// ====================================================================
// Colour scheme - Norvegia
// ====================================================================

text_color = #333
background_color = #fefdfb

accent_primary_color = #0443bf
accent_secondary_color = #ea2f25
accent_tertiary_color = #9d2c3d

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9