// ====================================================================
// Colour scheme - Sky Brown
// ====================================================================

text_color = #333
background_color = #fffefd

accent_primary_color = #cb3824
accent_secondary_color = #6f9cbe//#c1d4e3
accent_tertiary_color = #4d84ad

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9