// ====================================================================
// Colour scheme - Traffic Light Capsicum
// ====================================================================

text_color = #333
background_color = #fff

accent_primary_color = #C70618
accent_secondary_color = #C9A812
accent_tertiary_color = #6DA546

subtle_primary_color = #cccac9
subtle_secondary_color = #f9f8f6
subtle_tertiary_color = #fcfaf9