fancy-list()
	list-style none
	margin 0
	padding 0

	li
		margin-bottom ($baseLineHeight/2)

fancy-list-main()
	font-family $displayFont
	line-height 1 // fix for li height becoming 1px more than baselineheight

fancy-list-meta(inline = true)
	&
		font-variant small-caps
		font-size 0.8em
		opacity 0.9

	if inline
		&
			line-height 1 // fix for li height becoming 1px more than baselineheight

		@media only screen and (min-width: 500px)
			&
				display inline-block
				margin-left 0.5em