	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
		<meta name="author" content="Sahil Bajaj">
		<meta name="description" content="Not all those who wander are lost. A blog by Sahil Bajaj.">
		<meta name="viewport" content="initial-scale=1">

		<!-- Favicon -->
		<link href="/assets/img/favicon.png" rel="icon" type="image/png">

		<!-- Feed -->
		<link href="http://feeds.feedburner.com/sahil" rel="alternate" title="{{ site.title }}" type="application/atom+xml">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/assets/css/normalize.css">
		<link rel="stylesheet" href="/assets/css/highlight.css">
		<link rel="stylesheet" href="/assets/css/lightbox.css">
		<link rel="stylesheet" href="/assets/css/main.css">

		<!-- Last Updated: {{ site.time }} -->
		<!-- Repository URL: https://github.com/spinningarrow/blog.sahil.me/ -->
	</head>
