<article class="post">
	<header>
		<h1><a href="{{ include.post.url }}">{{ include.post.title }}</a></h1>
		<div class="post-meta">
			<ul>
				<li><time datetime="{{ include.post.date }}">{{ include.post.date | date: "%e.%m.%Y" }}</time></li>
				{% if include.post.category %}<li class="post-category">{{ include.post.category }}</li>{% endif %}
				<li><a href="{% unless page.url == include.post.url %}{{ include.post.url }}{% endunless %}#comments">comments</a></li>
			</ul>
		</div>
	</header>

	<div class="post-body">
		{{ include.post.content | markdownify }}
	</div>
</article>
