---
---

/* Variables */

// Colors
$primary-color: #444;
$secondary-color: #3d9440;
$accent-color: #593b67;
$offset-color: #fff;

// Typefaces
$primary-type: georgia, serif;
$secondary-type: 'm-1m', 'm+ 1m', monospace;

// Responsiveness
$smaller-screen: "(max-width: 940px)";

/* General */

body {
	color: $primary-color;
	font-family: $primary-type;
	font-size: 16px;
	margin: 3em 0 3em 15em;
	width: 480px;
}

@media #{$smaller-screen} {
	body {
		margin: 1em;
		width: auto;
	}
}

h1 {
	font-family: $secondary-type;
	font-size: 2.4em;
	font-weight: 200;
	text-transform: uppercase;
}

@media #{$smaller-screen} {
	h1 {
		margin-bottom: 0;
	}
}

a:link {
	color: $secondary-color;
}

a:visited {
	color: mix($secondary-color, white, 60%);
}

a:hover {
	background-color: $secondary-color;
	color: $offset-color;
	text-decoration: none;
}

img {
	background-color: white; /* for non-rectangular image links on hover */
}

/* Header */

.site-header {
	font-family: $secondary-type;
	font-size: 0.8em;
	position: fixed;
	right: 1em;
	text-align: right;
	top: 1em;
}

@media #{$smaller-screen} {
	.site-header {
		position: static;
		text-align: left;
	}
}

.site-header h1 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 2.4;
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

.site-header h1 a[href] {
	background: $offset-color;
	border: 1px solid $accent-color;
	color: $accent-color;
}

.site-header h1 a[href]:hover {
	color: $offset-color;
}

.site-header a[href] {
	background: $secondary-color;
	color: $offset-color;
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 0 0.7em;
	text-decoration: none;
}

.site-header a[href].external {
	background: $primary-color;
}

.site-header a[href]:hover {
	background: $accent-color;
}

.site-header .description {
	margin-top: 0;
	max-width: 13em;
}

@media #{$smaller-screen} {
	.site-header .description {
		max-width: unset;
	}
}

.site-header input[type="search"] {
	border: 1px solid $secondary-color;
	line-height: 2;
	margin-bottom: 0.5em;
	padding: 0 0.7em;
	text-align: right;
}

.site-header input[type="search"]:focus {
	border-color: $accent-color;
	outline: none;
}

@media #{$smaller-screen} {
	.site-header input[type="search"] {
		text-align: inherit;
	}
}

/* Footer */

.site-footer {
	color: $secondary-color;
	text-align: center;
	-webkit-text-stroke: 1px $secondary-color;
	-webkit-text-fill-color: $offset-color;
}

/* Navigation */

.site-header nav {
	line-height: 1.6;
	text-transform: lowercase;
}

.site-header nav ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

@media #{$smaller-screen} {
	.site-header nav ul {
		text-align: inherit;
	}
}

/* Posts */

.post {
	margin-bottom: 3em;
	position: relative;
}

.post h1 {
	letter-spacing: -1px;
}

.post h1 a {
	color: $accent-color;
	text-decoration: none;
}

.post h1 a:hover {
	background-color: $offset-color;
	color: $secondary-color;
}

.post-body {
	line-height: 1.4;
}

.post-body figcaption {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
}

.post-body hr {
	width: 2em;
}

.post-body iframe {
	height: 15em;
	width: 100%;
}

.post-body ol {
	padding-left: 1.5em;
}

.post-body ol p:first-child {
	font-style: italic;
}

.post-meta {
	box-sizing: border-box;
	color: mix($primary-color, white, 50%);
	font-family: $secondary-type;
	left: -30%;
	line-height: 1.4;
	position: absolute;
	text-align: right;
	top: 0;
	width: 23%;
}

@media #{$smaller-screen} {
	.post-meta {
		position: static;
		text-align: left;
		width: auto;
	}
}

.post-meta ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Code blocks */
.highlight {
	background-color: rgba($secondary-color, 0.03);
	padding: 0.5em 1em;
}

.highlight code {
	font-family: $secondary-type;
}

/* Comments */
.comments {
	margin-bottom: 2em;
}

/* Archives */
.page-archives h2 {
	font-family: $secondary-type;
	font-size: 1em;
	font-weight: 400;
}

.list-collapsible {
	list-style: none;
	margin: 0 0 2em;
	padding: 0 0 0 0.5em;
}

.list-collapsible li {
	margin: 0.5em 0;
}

.list-collapsible .meta-post {
	font-size: 0.8em;
}

.box {
	padding: 0.5em;
}

.box-info {
	background-color: rgba($secondary-color, 0.1);
}
