---
---

/* Fonts */

@font-face {
	font-family: 'M+ 1m';
	font-style: normal;
	font-weight: 100;
	src: local('M+ 1m'), url('http://sahil.me/fonts/m-1m/m+1m_thin_macroman/mplus-1m-thin-webfont.woff') format('woff');
}

@font-face {
	font-family: 'M+ 1m';
	font-style: normal;
	font-weight: 400;
	src: local('M+ 1m'), url('http://sahil.me/fonts/m-1m/m+1m_regular_macroman/mplus-1m-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'M+ 1m';
	font-style: normal;
	font-weight: 700;
	src: local('M+ 1m'), url('http://sahil.me/fonts/m-1m/m+1m_bold_macroman/mplus-1m-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Ostrich Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Ostrich Sans'), url('http://sahil.me/fonts/ostrich-sans-master/webfonts/ostrich-sans-regular.woff') format('woff');
}

/* Variables */

// Colors
$primary-color: #444;
$secondary-color: #6495ed;
$accent-color: #f50038;
$offset-color: #fff;

// Typefaces
$primary-type: georgia, serif;
$secondary-type: 'm+ 1m', monospace;
$tertiary-type: ostrich sans, sans-serif;

// Responsiveness
$smaller-screen: "(max-width: 940px)";

/* General */

body {
	color: $primary-color;
	font-family: $primary-type;
	font-size: 16px;
	margin: 3em 0 3em 15em;
	width: 460px;
}

@media #{$smaller-screen} {
	body {
		margin: 1em;
		width: auto;
	}
}

h1 {
	font-family: $tertiary-type;
	font-size: 3.4em;
	font-weight: 400;
}

@media #{$smaller-screen} {
	h1 {
		margin-bottom: 0;
	}
}

a:link {
	color: $secondary-color;
}

a:visited {
	color: mix($secondary-color, white, 60%);
}

a:hover {
	background-color: $secondary-color;
	color: $offset-color;
	text-decoration: none;
}

img {
	background-color: white; /* for non-rectangular image links on hover */
}

/* Header */

.site-header {
	font-family: $secondary-type;
	font-size: 0.8em;
	position: fixed;
	right: 1em;
	text-align: right;
	top: 1em;
}

@media #{$smaller-screen} {
	.site-header {
		position: static;
		text-align: center;
	}
}

.site-header h1 {
	color: white;
	font-family: $secondary-type;
	font-size: 1em;
	font-weight: normal;
	line-height: 2.4;
	margin: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

.site-header a[href] {
	background: $secondary-color;
	color: $offset-color;
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 0 0.7em;
	text-decoration: none;
}

.site-header a[href].external {
	background: $primary-color;
}

.site-header a[href]:hover {
	background: $accent-color;
}

.site-header .description {
	margin-top: 0;
	max-width: 10em;
}

.site-header input[type="search"] {
	border: 1px solid $secondary-color;
	line-height: 1.4;
	margin-bottom: 0.5em;
	text-align: right;
}

.site-header input[type="search"]:focus {
	border-color: $accent-color;
	outline: none;
}

@media #{$smaller-screen} {
	.site-header input[type="search"] {
		text-align: inherit;
	}
}

/* Footer */

.site-footer {
	color: $secondary-color;
	text-align: center;
	-webkit-text-stroke: 1px $secondary-color;
	-webkit-text-fill-color: $offset-color;
}

/* Navigation */

.site-header nav {
	line-height: 1.6;
	text-transform: lowercase;
}

.site-header nav ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

@media #{$smaller-screen} {
	.site-header nav ul {
		text-align: inherit;
	}
}

/* Posts */

.post {
	margin-bottom: 3em;
	position: relative;
}

.post h1 a {
	color: $accent-color;
	text-decoration: none;
}

.post h1 a:hover {
	background-color: $offset-color;
	color: $secondary-color;
}

.post-body {
	line-height: 1.4;
}

.post-body hr {
	width: 2em;
}

.post-body figcaption {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
}

.post-body iframe {
	height: 15em;
	width: 100%;
}

.post-meta {
	box-sizing: border-box;
	color: mix($primary-color, white, 50%);
	font-family: $secondary-type;
	font-weight: 100;
	left: -30%;
	line-height: 1.4;
	position: absolute;
	text-align: right;
	top: 0;
	width: 23%;
}

@media #{$smaller-screen} {
	.post-meta {
		position: static;
		text-align: left;
		width: auto;
	}
}

.post-meta ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-meta .post-category {
	background-color: mix($primary-color, white, 50%);
	border-radius: 2px;
	color: $offset-color;
	display: inline-block;
	padding: 0 0.1em;
}

/* Code blocks */
.highlight {
	background-color: rgba($secondary-color, 0.05);
	padding: 0.5em 1em;
}

.highlight code {
	font-family: $secondary-type;
	font-size: 0.85em;
}

/* Archives */
.page-archives h2 {
	font-family: $secondary-type;
	font-size: 1em;
	font-weight: 400;
}

.list-collapsible {
	list-style: none;
	margin: 0 0 2em;
	padding: 0 0 0 0.5em;
}

.list-collapsible li {
	margin: 0.5em 0;
}

.list-collapsible .meta-post {
	font-size: 0.8em;
}

.box {
	padding: 0.5em;
}

.box-info {
	background-color: rgba($secondary-color, 0.1);
}
