/* General */

html {
	border-top: 4px solid;
}

body {
	width: 600px;
	margin: 0 auto;
	font-family: lato;
	color: #444;
	font-size: 1.1em;
	margin-top: 3em;
}

h1 {
	font-size: 1em;
}

/* Header */

.site-header {
	font-size: 0.8em;
	position: absolute;
	left: 1em;
	top: 4px;
	background: black;
	padding: 1em;
}

.site-header h1 {
	font-family: source code pro;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 1em;
	padding-bottom: 0;
	margin-top: 0;
}

.site-header a[href] {
	text-decoration: none;
	color: white;
}

/* Footer */

.site-footer {
	margin-bottom: 3em;
	text-align: center;
}

/* Navigation */

.site-header nav {
	font-size: 0.8em;
	text-transform: lowercase;
	line-height: 1.6;
}

.site-header nav ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/* Posts */

.post {
	margin-bottom: 3em;
}

.post h1 {
	font-weight: 900;
}

.post h1 a {
	color: #444;
	text-decoration: none;
}

.post h1 a:hover {
	color: #999
}

.post-body {
	width: 76%;
	font-family: gentium basic;
	line-height: 1.2;
}

.post-meta {
	box-sizing: border-box;
	font-size: 0.7rem;
	float: right;
	padding-left: 30px;
	width: 23%;
	font-weight: 200;
}

.post-meta ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 2;
}
