@import "mixins"
@import "colours"
@import "type"
@import "disqus"

// Basic styles
// ====================================================================
body
	color $textColor
	font-family $bodyFont
	font-size 22px
	line-height 1.6
	margin 0 auto
	max-width 600px
	padding 0 20px

a
	text-decoration none
	transition color 0.1s ease

	&:link
		color $linkColor

	&:visited
		color $linkColor

	&:hover
		color $hoveredLinkColor

header
	text-align center

em em
	font-style normal

ul.listing-stylish
	margin 0
	padding 0

	> li
		list-style-type none

		&:before
			color $visitedLinkBorderColor
			content '•'
			display inline-block
			width 1em

li time
	font-family $displayFont
	font-size 0.7em

.acronym
	font-size 0.8em

// Main site elements
// ====================================================================

// Header
body > header
	border-top 2px solid
	text-transform uppercase

	h1
		font-size 24px
		letter-spacing -1px
		line-height 1
		margin 50px 0 0
		word-spacing 0.25em

		i
			font-size 1.63em
			text-transform none

	a:link, a:visited
		color $textColor

	p
		font-size 12px
		letter-spacing 2px
		margin-bottom 50px

// Footer
body > footer
	border-top 1px solid $accentColor
	border-bottom 2px solid
	font-size 18px
	margin-top 40px
	padding 60px 0 50px
	position relative
	text-align center

	&:before
		background $backgroundColor
		content '❄'
		font-size 28px
		left 46%
		line-height 1
		padding 0 15px
		position absolute
		top -10px

	p
		margin-bottom 0

	blockquote
		font-style italic
		margin 0

		a:link
			font-style normal

// Nav
nav.main
	font-size 16px
	line-height 1
	margin-bottom 40px
	text-align center
	text-transform lowercase

	&:before
		border-top 1px solid $accentColor
		content ''
		display block
		position relative
		top 0.5em
		z-index -1

	ul
		background $backgroundColor
		display inline-block
		list-style none
		margin 0
		padding 0 1em

	li
		display inline-block
		margin-left 1em

		&:first-child
			margin-left 0

	a
		border 0

// Links
.main-content a
	&:link
		border-bottom 1px solid $linkBorderColor

	&:visited
		border-bottom-color $visitedLinkBorderColor

// Home
// ====================================================================

.home.listing
	list-style none
	margin 0
	padding 0

	li
		border-top 1px solid $lightAccentColor
		clear both
		padding 20px 0

		&:first-child
			border-top 0
			padding-top 0

		.post-title
			display block

		.post-comment-count
			color $linkBorderColor
			display inline-block
			float right
			font-style italic

	a
		border 0

// Posts
// ====================================================================

article
	header
		margin-bottom 1em

		h1
			font-family $displayFont
			font-weight 300
			line-height 1.2
			margin-bottom 0

		time
			font-size 20px

	img
		max-width 100%

	figure
		text-align center

	figcaption
		font-size 0.8em
		font-style italic

		em
			font-style normal

	hr
		border 0

		&:after
			color $accentColor
			content '* * *'
			display block
			text-align center

	blockquote
		border-left 0.5em solid $lightAccentColor
		margin 0
		padding-left 1em

	code
		font-family $monospaceFont

	pre code
		border-left 0.5em solid $lightAccentColor
		display block
		font-size 18px
		line-height 1.2
		padding-left 2em

// Comments
// ====================================================================

.comments
	margin-top 1em
	min-height 100px

	&:before
		color $accentColor
		content '↯'
		display block
		margin-bottom -1em
		text-align center

	// Show title infront of disqus loading graphic (overlay occurs
	// because of the negative margin on #disqus_thread)
	h2
		background #fff
		position relative
		z-index 1

		a:link, a:visited
			border-bottom 0
			color $textColor
			cursor default

// Other design elements
// ====================================================================
.alert
	background-color #ffd
	font-size 0.8em
	padding 0.5em