$backgroundColor = #fefdfb
$textColor = #333
$accentColor = #ccc
$lightAccentColor = #f2f2f2

// Coast [Blue and Sandy]

$linkColor = #4576c3
$hoveredLinkColor = #b5a43e
$linkBorderColor = #ccbe6b
$visitedLinkBorderColor = #f3f0dd

// Christmas [Red and Green]

// $linkColor = #E50000
// $hoveredLinkColor = #BF0000
// $linkBorderColor = #7AB317
// $visitedLinkBorderColor = #CCE0AA