$backgroundColor = #fff
$textColor = #333
$accentColor = #ccc
$lightAccentColor = #f2f2f2
$linkColor = #E50000
// $visitedLinkColor = #226695
$hoveredLinkColor = #BF0000
$linkBorderColor = #7AB317
$visitedLinkBorderColor = #CCE0AA