#disqus_thread
	margin-top -65px

#dsq-comments-title
	display none !important

#dsq-content
	font-size 1em !important

	.dsq-options
		font-size 0.8em

		img // "Subscribe by..." icons
			display none

	.dsq-comment
		border-top 1px solid $lightAccentColor
		padding-top 1em

	.dsq-comment-header
		background none !important
		border 0 !important

		.dsq-comment-header-meta
			padding 0

		cite
			float left

		.dsq-comment-header-time
			float right
			padding 0

			a
				font-style italic

	.dsq-full-comment:hover
		.dsq-comment-header-meta-wrapper .dsq-comment-hide-thread
			display none

	.dsq-comment-footer
		display none

	.dsq-header-avatar
		display none

	.dsq-pagination
		display none

	// Comment form area
	.dsq-post-area
		border-top 1px solid $lightAccentColor

	.dsq-request-user-info
		.dsq-request-user-name, .dsq-request-user-stats
			padding 0