column-count()
	column-count arguments
	-moz-column-count arguments
	-webkit-column-count arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments