$bodyFontSize = 21px
$baseLineHeight = 32px

$bodyFont = 'Fanwood Text', Fanwood, Perpetua, 'Palatino Linotype', 'Book Antiqua', Georgia, serif
$boldFonts = Perpetua, 'Palatino Linotype', 'Book Antiqua', Georgia, serif
$displayFont = Galdeano, sans-serif
$monospaceFont = 'M+ 1m', 'm-1m', Consolas, Menlo, 'Courier New', Courier, monospace