$bodyFontSize = 21px
$baseLineHeight = 32px
$bodyFont = 'Fanwood Text', Fanwood, Perpetua, 'Palatino Linotype', 'Book Antiqua', Georgia, serif
$boldFonts = Perpetua, 'Palatino Linotype', 'Book Antiqua', Georgia, serif
$displayFont = Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
$monoSpaceFont = 'M+ 1m', 'm-1m', Consolas, Menlo, 'Courier New', Courier, monospace