<!doctype html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
		<meta name="author" content="Sahil Bajaj">
		<meta name="description" content="Not all those who wander are lost. A blog by Sahil Bajaj.">
		<meta name="viewport" content="initial-scale=1">

		<!-- Favicon -->
		<link href="/assets/img/favicon.png" rel="icon" type="image/png">

		<!-- Feed -->
		<link href="http://feeds.feedburner.com/sahil" rel="alternate" title="{{ site.title }}" type="application/atom+xml">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/assets/css/normalize.css">
		<link rel="stylesheet" href="/assets/css/highlight.css">
		<link rel="stylesheet" href="/assets/css/lightbox.css">

		<!-- Fonts -->

		<!-- Last Updated: {{ site.time }} -->
	</head>

	<body>
		<header class="header-main">
			<h1 class="title-main">
				<a href="/">{{ site.title }}</a>
			</h1>

			<!--<p class="description-main">{{ site.description }}</p>-->

			<nav class="nav-main">
				<ul>
					<li><a href="//www.google.com/search?q=site%3Ablog.sahil.me">Search</a></li>
					<li><a href="/archives/">Archives</a></li>
					<li><a href="">Feed</a></li>
					<li><a href="">Subscribe by email</a></li>
				</ul>
			</nav>
		</header>

		<!-- Start main content -->
		<div class="content-main">
{{ content }}
		</div>
		<!-- End main content -->

		<footer class="footer-main">
			The Spinning Arrow <i>by</i> Sahil Bajaj &middot;
			<a href="http://feeds.feedburner.com/sahil">Feed</a> &middot;
			<a href="http://feedburner.google.com/fb/a/mailverify?uri=sahil&amp;loc=en_US">Subscribe by email</a>
		</footer>

	</body>
</html>
