<!doctype html>
<html lang="en">
	{% include head.html %}

	<body>
		<header class="site-header">
			<h1>
				<a href="/">{{ site.title }}</a>
			</h1>

			<p class="description">{{ site.description }}</p>

			<nav>
				<ul>
					<li>
						<form action="https://www.google.com/search">
							<input type="hidden" name="as_sitesearch" value="blog.sahil.me">
							<input type="search" name="q" placeholder="Search">
						</form>
					</li>
					<li>
						<a href="/archives/">Archives</a>
					</li>
					<li>
						<a href="http://feeds.feedburner.com/sahil">Feed</a>
					</li>
					<li>
						<a href="http://feedburner.google.com/fb/a/mailverify?uri=sahil&loc=en_US">Subscribe by email</a>
					</li>
					<li>
						<a href="http://sahil.me" class="external">sahil.me</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Start main content -->
		<div class="content-main">
{{ content }}
		</div>
		<!-- End main content -->

		<footer class="site-footer">☁︎</footer>

        {% include google-analytics.html %}
        {% include clicky.html %}
	</body>
</html>
