<!doctype html>
<html lang="en">
	{% include head.html %}

	<body>
		<header class="header-main">
			<h1 class="title-main">
				<a href="/">{{ site.title }}</a>
			</h1>

			<!--<p class="description-main">{{ site.description }}</p>-->

			<nav class="nav-main">
				<ul>
					<li><a href="//www.google.com/search?q=site%3Ablog.sahil.me">Search</a></li>
					<li><a href="/archives/">Archives</a></li>
					<li><a href="">Feed</a></li>
					<li><a href="">Subscribe by email</a></li>
				</ul>
			</nav>
		</header>

		<!-- Start main content -->
		<div class="content-main">
{{ content }}
		</div>
		<!-- End main content -->

		<footer class="footer-main">
			☁︎
		</footer>

	</body>
</html>
